.nav-bar {
    height: 60px;
    width: 100%;
    background-image: linear-gradient(150deg, #160d03, #614b36);

    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    position: relative;
    z-index: 1;
    font-family: Arial, Helvetica, sans-serif;

    li {
        display: block;
    }

    .nav-bar-left {
        margin-left: 40px;
        display: flex;
        align-items: center;
        text-decoration: none;

        #chutter {
            font-size: 2rem;
            font-weight: 450;
            display: block;
            font-family: cursive;
            color: #fcebb6;
        }

        img {
            width: 55px;
        }
    }
    
    .nav-bar-center {
        display: flex;
        margin-left: 40px;

        .menu {
            display: flex;
            align-items: center;
            justify-content: space-between;   

            .menu-item {
                padding: 10px 15px 10px 15px;
                color: white;
                border-right: 3px solid #574410;
                border-right-width: 3px;
                text-decoration: none;
            }
            
            #menu-item-dropt {
                border-right: 0;
                position: relative;
            }
            
            .menu-item:hover {
                color:#f0a830;
            }

            .movies-type {
                display: none;
                position: absolute;
                background-color: #4e3a26;
                border-radius: 3px;
                margin-top: 10px;
                padding: 0px 30px 20px 30px;
                border: 1px solid grey;     

                .type {
                    display: block;
                    color: white;
                    transition: 0.5s;
                    text-decoration: none;
                }

                .item {
                    border-bottom: 2px solid white;
                    padding-top: 13px;
                    width: 120px;
                }

                .type:hover {
                    color: #f0a830;
                    font-size: 18px;
                }

                .item:hover {
                    border-bottom: 2px solid grey;        
                }
            }
            .drop:hover .movies-type {
                display: block;
            }
        }
        #search-bar {
            margin-left: 150px;
        }



        .nav-bar-form-search {
            display: flex;
            align-items: center;

            margin-left: 30px;
        }
        

    }

    .nav-bar-right {
        position: absolute;
        right: 15px;

        .button-login {
            color: white;
            align-items: center;
            padding: 10px 15px 10px 15px;
            font-weight: 700;
            background-color: rgba(255, 255, 255, 0);
            border: 0px;
            cursor: pointer;
            font-size: 15px;
        }

        .button-login:hover {
            color: #2e618b;
        }

        .user-profile {

            color: white;

            b {
                width: 50px;
            }

            img {
                width: 40px;
                height: 40px;
                border-radius: 40px;
                background-color: cadetblue;
                object-fit: cover;
            }
        }
    }
}

.input-search {
    width: 400px;
    height: 30px;
    padding-left: 15px;
    border-radius: 5px;
    color: #B8B8B8;
    border: 1px solid #555555;
    background-color: rgb(255, 255, 255);
    vertical-align: middle;
    line-height: 1.4;
}

.input-search::placeholder {
    color: #333;
    font-family: Verdana;
}

.input-search:focus {
    background-color: 	#faf2da;
    color: rgb(23, 22, 78);
    border: 1px solid black;
}

.button-search {
    border-radius: 5px;
    border: 1px solid #555555;
    background-color: #d7b56c;
    margin-left: 1px;
    height: 35px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-search:hover {
    background-color: #c28c2e;
    border: 3px;
    cursor: pointer;
}

.gg-search {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 3px solid;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px;
    color:#473325;
}
.gg-search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 3px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px
}

.gg-search:hover {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 4px solid;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px;
    color:#473325;
}